# next.js
/.next/
/out/

/coverage/

# dependencies
/node_modules/

# misc
.DS_Store
*.pem

# local files
.env*.local
.env
/.vscode

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# production
/build

# scripts
/scripts/strapi-response.json