 

.list {
    list-style-type: none; 
    background-color: #082f49;
    padding: 0.5rem;
    font-family:  var(--font-orbitron), sans-serif;
    font-weight: 600;
 &__item{
   @apply my-2  ;
    a{
       @apply  flex px-2 rounded-md border-2 text-xs leading-6 sm:text-base sm:px-4  ;
        text-decoration: none;
        color: aliceblue;
 
     }
    a:hover{
        color: rgb(7, 40, 51);
        background-color: aliceblue;
        svg{
         fill: rgb(7, 40, 51);
        }
     }
    
     
    }
 }

 @media (max-width: 501px) {
   // .list__item  {

   //  a{
   //     font-size: 1rem;
       
   //  background-color: blueviolet;
   //  }
   // }
}
