.list {
    list-style-type: none; 
    background-color: rgb(7, 40, 51);
    padding: 0.5rem;
 &__item{
    a{
        text-decoration: none;
        color: aliceblue;
     }
    a:hover{
        color: rgb(7, 40, 51);
        background-color: aliceblue;
     }
    }
 }


 